/* @font-face {
    font-family: "font";
    font-display: swap;
    src: url(../css/font.woff);
} */

body {
    font-family: "Roboto";
    @include adaptiv-font(16, 16);
    
}

.wrapper {
    overflow: hidden;
}

.container, .min-container, .very-min-container {
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    max-width: $maxWidth+px;
}

.min-container {
    max-width: $maxWidthMin+px;
}

.very-min-container {
    max-width: $maxWidthMinText+px;
}





.bg-section {
    position: absolute;
    left: 0; top: 0;
    z-index: 1;
    width: 100%; height: 100%;
    &::before, &::after {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
    }
    &::before {
        background-color: $black;
        opacity: 0.35;
    }
    &::after {
        background: $gradientVignette;
        
    }
    &-img {
        width: 100%; height: 100%;
        object-fit: cover;
    }
}



.btn {
    display: inline-block;
    text-transform: capitalize;
    border-radius: 15px;
    background: $gradientAccent;
    color: $white;
    font-weight: 500;
    @include adaptiv-font(21, 21);
    box-shadow: $shadowAccent;
    padding: 20px 25px;
    transition: all .2s ease-in-out;
    margin: 35px 0 0 0;
    &:hover {
        transform: scale(1.1);
    }
}


