

.list-vacancies {
    margin: 0px 0 5px 0;
    position: relative;
    z-index: 10;
    @include _maxWidth {
        margin: 50px 0 100px 0;
    }
    @include _769 {
        margin: 0px 0 0px 0;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
    }
    &__info {
        flex: 1 1 100%;
        margin: 0 0 40px 0;
        position: relative;
        text-align: center;
        & p {
            max-width: 500px;
            margin: 0 auto;
        }
    }
    &__title {
        @include _992 {
            padding-bottom: 20px;
        }
        margin: 20px 0;
    }
    
    &__filter {
        flex: 0 1 100%;
        @include _maxWidth {
            flex: 0 1 18%;
        }
        @media(min-width: 1100px) {
            flex: 0 1 20%;
        }
        &-btn-reset {
            margin-top: 20px !important;
            @media(min-width: 1100px) {
                display: none;
            }
        }
        &-btn-toggle {
            position: relative;
            display: inline-block;
            width: 100%;
            margin: 0px auto 15px auto;
            /* &::before {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 640 640'%3E%3Cpath fill='%23FFFFFF' d='M297.376 414.4l22.624 22.624 181.024-181.024-45.248-45.248-135.776 135.744-135.776-135.744-45.248 45.248z'%3E%3C/path%3E%3C/svg%3E%0A");
                position: absolute;
                right: 10px; top: 50%;
                width: 25px; height: 25px;
                transform: scale(1) translate(0, -50%);
                transition: all .3s ease-in-out;
            }
            &.active::before {
                transform: scale(-1) translate(0, 50%);
            } */
            
            @media(min-width: 1100px) {
                display: none;
            }
            
        }
    }
    &__list {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        flex: 1 1 100%;
        margin: 0;
        position: relative;
        @media(min-width: 1100px) {
            padding: 0 0 5% 5px;
        }
        @media(min-width: 1100px) {
            justify-content: stretch;
            flex: 0 1 80%;
            margin: -15px 0px -15px -15px;
        }
        @include _maxWidth {
            flex: 0 1 84%;
            margin: -15px -2% -15px -15px;
        }
        /* @media(min-width: 600px) {
            margin: 0 15px 0 0;
        } */
        
        &--column {
            flex: 1 1 100%;
            @include _769 {
                flex: 0 1 32%;
                &:nth-child(3) {
                    display: block;
                }
            }
            @media(min-width: 600px) {
                flex: 0 1 49%;
                &:nth-child(3) {
                    display: none;
                }
            }
        }
        /* & > li {
            margin: 8% 0%;
            flex: 0 1 100%;
            &:nth-child(2n) {
                margin-right: 0%;
            }
            &:nth-child(3n) {
                margin-right: 0%;
            }
            @include _maxWidth {
                flex: 0 1 30%;
                &:nth-child(4n) {
                    margin-right: 15px;
                }
                &:nth-child(3n) {
                    margin-right: 1%;
                }
            }
            @media(min-width: 1100px) {
                margin: 1%;
                flex: 0 1 30.8%;
                &:nth-child(3n) {
                    margin-right: 0px;
                }
            }
            @include _992 {
                flex: 0 1 30.6%;
                margin: 1%;
                &:nth-child(3n) {
                    margin-right: 0px;
                }
                &:nth-child(2n) {
                    margin-right: 1%;
                }
            }
            @media(min-width: 600px) {
                margin: 1.5%;
                flex: 0 1 45%;
                &:nth-child(2n) {
                    margin-right: 0%;
                }
                &:nth-child(3n) {
                    margin-right: 1.5%;
                }
            }
        } */
    }
    &__not-found {
        margin: 30px 0 0 0;
        @media(min-width: 600px) {
            position: relative;
            left: calc(15px / 2);
        }
        @include _992 {
            position: absolute;
            left: 50%; top: 0%;
            transform: translate(-50%, 100px);
        }
        &-message {
            user-select: none;
            font-weight: 900;
            color: var(--text) !important;
            /* color: #ccc !important;
            @media (prefers-color-scheme: dark) {
                color: #333 !important;
            } */
        }
        
    }
    &__item {

        border-radius: 25px;
        display: block;
        text-align: center;
        margin: 50px 5px;
        
        opacity: 0; visibility: hidden;
        
        box-shadow: 0px 3px 10px -2px rgba(52, 52, 52, 0.2);
        background-color: var(--bg_2);
        color: var(--text);

        @media(min-width: 600px) {
            margin: 10px 5px;
        }

        @include _992 {
            justify-content: center;
            text-align: left;
        }

        &--image {
            display: inline-block;
            flex: 0 0 100%;
            width: 100%; height: 300px;
            overflow: hidden;
            margin: 0 0 15px 0;
            &-img {
                width: 100%; height: 100%;
            }
            & picture {
                display: none;
                &.active {
                    display: block;
                }
            }
        }
        &--title {
            margin: 5px 0;
            color: $black;
            & a {
                color: $black;
                &:hover {
                    text-decoration: none;
                }
            }
            color: var(--text);
            & a {
                color: var(--text);
            }
            @include _992 {
                margin: 15px 0;
            }
        }
        &--descr {
            padding: 0 10px 15px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            @include _maxWidth {
                flex: 0 1 73%;
            }
            @media(min-width: 1336px) {
                flex: 0 1 75%;
            }
            @include _992 {
                display: flex;
                flex-direction: column;
                padding: 15px 10px 30px 10px;
            }
        }
        &--text {
            flex: 1 1 100%;
            padding: 0px 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            align-items: center;
            -webkit-line-clamp: 3;
            text-overflow: ellipsis;
            @include adaptiv-font(14, 14);
            @include _992 {
                padding: 0px 0;
            }
        }
        & li {
            margin: 7% 0;
        }
        &--btn {
            margin: 2% 0;
        }
    }
    &__auto-loading {
        position: absolute;
        left: 0; bottom: -45px;
        & label {
            cursor: pointer;
            padding-left: 25px;
        }
    }
    &__loader {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 55px auto 75px auto;
    }
    &__switch {
        background: transparent;
        display: flex;
        align-items: center;
        &::before {
            content: attr(data-loader-enable);
        }
        &.active::before {
            content: attr(data-loader-disable);
        }
    }
    &__btn {
        margin-top: 25px;
        position: relative;
        

        &.loading {
            width: 55px; height: 55px;
            &::before {
                content: '';
                background: url('assets/images/loading/loading.gif') center center / contain no-repeat;
                width: 50px; height: 50px;
    
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%, -50%);
                
    
            }
        }
        
    }
}
