.nav {
    opacity: 0; visibility: hidden;
    position: absolute;
    left: 0; top: 0;
    min-width: 100vw; height: 100vh;
    background-color: $white;
    
    @include _992 {
        display: block;
        position: relative;
        min-width: 0; height: auto;
        opacity: 1; visibility: visible;
    }
    &.active {
        opacity: 1; visibility: visible;
    }
    &-wrapper {
        display: flex;
        width: 100%; height: 100%;
        overflow: auto;
        @include _992 {
            overflow: visible;
        }
    }
    &-list {
        margin: auto;
        padding: 15px 0 30px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        
        @include _992 {
            flex-direction: row;
            padding: 5px 0;
            
        }
        &._column {
            flex-direction: column;
        }
        & li {
            text-align: center;
        }
        
    }
    &-menu {
        display: flex;
        margin: 0;
        flex-direction: column;
        width: 100%;
        @include _992 {
            margin: 0 25px 0 0;
        }
        & li + li {
            @include _992 {
                &::before {
                    display: none;
                }
            }
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 50%; top: 0;
                width: 25px; height: 5px;
                transform: translate(-50%, 0);
                border-radius: 5px;
                background: $gradientAccent;
            }
        }
        @include _992 {
            flex-direction: row;
        }
        &-link {
            text-transform: capitalize;
            position: relative;
            display: inline-block;
            width: 100%;
            font-weight: 500;
            color: $black;
            border-radius: 15px;
            padding: 25px 20px;
            transition: all .2s ease-in-out;
            @media(max-width: 992px) {
                font-size: 21px;
            }
            & span {
                position: relative;
                z-index: 2;
            }
            @include _992 {
                padding: 15px 20px;
                margin: 0 5px;
                @include adaptiv-font(16, 16);
                &::before {
                    content: '';
                    background: $gradientAccent;
                    position: absolute;
                    left: 0; top: 0;
                    border-radius: 15px;
                    opacity: 0;
                    transform: scale(1.1);
                    width: 100%; height: 100%;
                    transition: all .2s ease-in-out;
                }
                &:hover {
                    color: $white;
                    box-shadow: $shadowAccent;
                    &::before {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
    }
    &-contacts {
        margin: 30px 0 0 0;
        transform: scale(1.15);
        @include _992 {
            margin: 0;
            transform: scale(1);
        }
        &-tel {
            display: inline-block;
            color: $black;
            font-weight: 700;
            padding: 3px 0;
            border-bottom: 2px solid $black;
            margin: 3px 0;
            white-space: nowrap;

        }
    }
}

.burger {
    position: absolute;
    right: 15px; top: 50%;
    transform: translate(0, -50%);
    width: 45px; height: 45px;
    background: $gradientAccent;
    border-radius: 5px;
    box-shadow: $shadowAccent;
    z-index: 100;
    @include _992 {
        display: none;
    }
    & span {
        position: absolute;
        left: 0;
        width: calc(100% - 10px); height: 5px;
        background-color: $white;
        border-radius: 10px;
        transform: translate(5px, 0);
        box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
        transition: all .2s ease-in-out;
        &:nth-child(1) {
            top: 10px;
            transform: translate(5px, -50%);
        }
        &:nth-child(2) {
            top: 50%;
            transform: translate(5px, -50%);
        }
        &:nth-child(3) {
            top: calc(100% - 10px);
            transform: translate(5px, -50%);
        }
    }
    &.active {
        & span {
            &:nth-child(1) {
                top: 50%;
                transform: translate(5px, -50%) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                top: 50%;
                transform: translate(5px, -50%) rotate(-45deg);
            }
        }
    }
}

