.nav {
    &-list li {
        position: relative;
    }
    &-menu {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        &-link {
            color: $black;
            margin: 0 10px;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &-contacts {
        //padding: 15px;
        //margin: 30px 0 0 0px;

        
        &-tel {
            display: inline-block;
            font-weight: 700;

            padding: 0px 0;
            margin: 2px 0;

            white-space: nowrap;

            color: var(--text);
            border-bottom: 2px solid var(--text);
            
            &:hover {
                text-decoration: none;
            }
        }
    }
    &-social {
        display: flex;
        &-link {
            display: inline-block;
            margin: 15px;
            &-icon {
                width: 50px; height: 50px;
            }
        }
    }
}

.burger {
    position: absolute;
    right: 15px; top: 50%;
    transform: translate(0, -50%);
    width: 45px; height: 45px;
    background: $gradientAccent;
    border-radius: 5px;
    box-shadow: $shadowAccent;
    z-index: 100;
    @include _992 {
        display: none;
    }
    & span {
        position: absolute;
        left: 0;
        width: calc(100% - 10px); height: 5px;
        background-color: $white;
        border-radius: 10px;
        transform: translate(5px, 0);
        
        transition: all .2s ease-in-out;
        &:nth-child(1) {
            top: 10px;
            transform: translate(5px, -50%);
        }
        &:nth-child(2) {
            top: 50%;
            transform: translate(5px, -50%);
        }
        &:nth-child(3) {
            top: calc(100% - 10px);
            transform: translate(5px, -50%);
        }
    }
    &.active {
        & span {
            &:nth-child(1) {
                top: 50%;
                transform: translate(5px, -50%) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                top: 50%;
                transform: translate(5px, -50%) rotate(-45deg);
            }
        }
    }
}

