.section-title, .min-title, .article-title {
    text-transform: uppercase;
    color: var(--text);
}

p {
    color: var(--text);
}

.main-title {
    text-align: center;
    @include adaptiv-font(62, 18);
    font-weight: 900;
    line-height: 115%;
    margin: 0 0 25px 0;
    
    @include _992 {
        font-size: 62px;
    }
}
.main-text {
    @include adaptiv-font(14, 16);
    font-weight: 500;
    line-height: 165%;
    @include _992 {
        font-size: 16px;
    }
}

._decor-title {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 50%; bottom: 0;
        transform: translate(-50%, 0%);
        width: 40px; height: 10px;
        border-radius: 15px;
        background: $gradientAccent;
    }
    &._decor-title-left::before {
        left: 0%; bottom: 0;
    }
    @include _992 {
        &::before {
            width: 60px; height: 15px;
        }
        &-min::before {
            width: 25px; height: 5px;
        }
    }
}

._decor-article-title {
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    &::before {
        content: '';
        position: absolute;
        left: 50%; bottom: 0;
        transform: translate(-50%, 50%);
        border-radius: 15px;
        background: $gradientAccent;
        width: 45px; height: 10px;
    }
}

._decor-title-min {
    position: relative;
    text-align: center;
    &::before {
        content: '';
        position: absolute;
        left: 50%; bottom: 0;
        transform: translate(-50%, 50%);
        border-radius: 15px;
        background: $gradientAccent;
        width: 25px; height: 5px;
    }
    &._decor-title-left {
        @include _992 {
            text-align: left;
            &::before {
                left: 0%; bottom: 0;
                transform: translate(0%, 50%);
            }
        }
        text-align: center;
        &::before {
            left: 50%; bottom: 0;
            transform: translate(-50%, 50%);
        }
        
    }

}

.section-title {
    line-height: 125%;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
    @include adaptiv-font(48, 20);
    font-weight: 700;
    @include _992 {
        font-size: 48px;
        padding-bottom: 30px;
    }
    
}
.min-title {
    @include adaptiv-font(18, 18);
    font-weight: 700;
    line-height: 165%;
    &._decor-title-min {
        padding: 0 0 10px 0;
        margin: 0 0 15px 0;
        
    }
    @include _992 {
        font-size: 18px;
    }
}

.article-title {
    @include adaptiv-font(36, 24);
    font-weight: 700;
    line-height: 125%;
    &._decor-title-min {
        padding: 0 0 10px 0;
        margin: 0 0 15px 0;
        
    }
    @include _992 {
        font-size: 36px;
    }
}

.accent-text {
    @include adaptiv-font(16, 16);
    @include _992 {
        font-size: 16px;
    }
}

._light-color {
    color: $white;
}

.vacancies-paragraph {
    text-transform: uppercase;
    font-weight: 700;
    
    &::after {
        content: ':';
    }
}

