@import 'vars.scss';
@import 'mixin.scss';
@import 'null.scss';
@import 'libs.scss';
@import 'global.scss';
@import 'text.scss';
@import 'nav.scss';

.header {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: auto;
    box-shadow: $shadowAccent;
    padding: 5px 0;
    z-index: 100;
    min-height: 75px;
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        position: relative;
        z-index: 100;
        flex: 0 1 50px;
        max-width: 50px;
        border-radius: 50%;
        @include _992 {
            flex: 0 1 150px;
            max-width: 150px;
        }
    }
}


