@import 'vars.scss';
@import 'mixin.scss';
@import 'null.scss';
@import 'libs.scss';
@import 'global.scss';
@import 'text.scss';
@import 'nav.scss';

.header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: auto;
    box-shadow: $shadowAccent;
    padding: 0px 0;
    min-height: 65px;
    background-color: $white;
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        position: relative;
        z-index: 100;
        flex: 0 1 50px;
        max-width: 50px;
        border-radius: 50%;
        @include _992 {
            flex: 0 1 200px;
            max-width: 200px;
        }
    }
}

.intro {
    text-align: center;
    position: relative;
    min-height: 100vh;
    padding: 100px 0;
    color: $white;
    display: flex;
    align-items: center;
}
